@inherits LayoutComponentBase

<div class="page">
    @*<div class="sidebar">
    <NavMenu />
    </div>*@

    <main>
        @* <div class="top-row px-4">
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>*@

        <Bar Position="Position.Static" Class="navbar-bg" Breakpoint="Breakpoint.Desktop"
             ThemeContrast="ThemeContrast.Light">
            <BarBrand>

                <img src="img/logobbvaleasing.png" width="132" height="50" style="margin: 1rem 25rem 1rem 1rem;" />

            </BarBrand>
            <BarToggler />
            <BarMenu>
                <BarStart>
                    <BarItem>
                        <BarLink Class="bar-links" TextColor="TextColor.White" To="CSC">CSC</BarLink>
                    </BarItem>
                    <BarItem>
                        <BarLink Class="bar-links" TextColor="TextColor.White" To="#docs">SUC</BarLink>
                    </BarItem>
                    <BarItem>
                        <BarLink Class="bar-links" TextColor="TextColor.White" To="#docs">Desembolso Electrónico</BarLink>
                    </BarItem>
                </BarStart>
                @*<BarEnd>
                <BarItem>
                <Button Color="Color.Primary">Sign up</Button>
                <Button Color="Color.Secondary">Log in</Button>
                </BarItem>
                </BarEnd>*@
            </BarMenu>
        </Bar>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
