@page "/Password"

<Bar Position="Position.Static" Class="navbar-bg" Breakpoint="Breakpoint.Desktop"
             ThemeContrast="ThemeContrast.Light">
    <BarBrand>
        <img src="img/logobbvaleasing.png" width="132" height="50" style="margin: 1rem 25rem 1rem 1rem;" />
   </BarBrand>
   <BarToggler />
    <BarMenu>
        <BarEnd>
            <BarItem>
                <Text Style="color:#FFFF;">Bienvenido</Text>
                <Anchor Style="color:#FFFF;" >Luis Jorge Carrillo</Anchor>
            </BarItem>
        </BarEnd>
   </BarMenu>
</Bar>

<Div Class="col-9">
    <Div Class="row">
        <h4 style="padding:2rem 0 1rem 0 !important;">Crear contraseña</h4>
    </Div>

    <Div Class="row">
        <Paragraph Style="padding:4rem 0 1rem 0 !important;">Para continuar es necesario que configures tu contraseña. Para conocer los requisitos da clic <Anchor Outline Clicked="@ShowModal" Style="cursor:pointer;">aquí</Anchor></Paragraph>
    </Div>
</Div>
<Div Class="col-4">
    <Form>
    <Field>
        <FieldLabel>Contraseña</FieldLabel>
        <TextEdit Role="TextRole.Password" Placeholder="Captura tu contraseña" />
    </Field>
    <Field>
        <FieldLabel>Confirmar contraseña</FieldLabel>
        <Validation UsePattern>
            <TextEdit Role="TextRole.Password" Pattern="[A-Za-z]{3}" Placeholder="Confirma tu contraseña">
                <Feedback>
                    <ValidationError>Las contraseñas no coinciden</ValidationError>
                </Feedback>
            </TextEdit>
        </Validation>
    </Field>
    <Field Class="col-12">
        <Button Color="Color.Primary" Type="ButtonType.Submit" PreventDefaultOnSubmit>Crear</Button>
    </Field>
    </Form>
</Div>

<Modal @ref="modalRef">
    <ModalContent Centered Size="ModalSize.Large">
        <ModalHeader>
            <ModalTitle>Requerimientos a cumplir</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <ul>
                <li>Contener al menos dos letras (a-z, A-Z)</li>
                <li>Contener al menos dos números (0-9)</li>
                <li>Contener al menos dos caracteres especiales y de puntuación @specialC </li>
                <li>La contraseña no puede ser igual o derivada del nombre de usuario</li>
                <li>
                    La contraseña no puede contener conjuntos de letras o números que sigan un patrón sencillo, tales como
                    aaabbb, qwerty, abcdef, 123321, etc.
                </li>
                <li>La contraseña no puede ser igual o derivada del nombre de usuario</li>
            </ul>
        </ModalBody>
    </ModalContent>
</Modal>

@code {
    private Modal modalRef;

    public String specialC { get; set; } = @"(!@#$%^&*()_+|~- =\`{}[]:;'<>?,./)";

     private Task ShowModal()
    {
        return modalRef.Show();
    }
}
