@page "/reqs"

<Modal Visible>
    <ModalContent Centered Size="ModalSize.Large">
        <ModalHeader>
            <ModalTitle>Requerimientos a cumplir</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <ul>
                <li>Contener al menos dos letras (a-z, A-Z)</li>
                <li>Contener al menos dos números (0-9)</li>
                <li>Contener al menos dos caracteres especiales y de puntuación @specialC </li>
                <li>La contraseña no puede ser igual o derivada del nombre de usuario</li>
                <li>
                    La contraseña no puede contener conjuntos de letras o números que sigan un patrón sencillo, tales como
                    aaabbb, qwerty, abcdef, 123321, etc.
                </li>
                <li>La contraseña no puede ser igual o derivada del nombre de usuario</li>
            </ul>
        </ModalBody>
    </ModalContent>
</Modal>

@code {
    public String specialC { get; set; } = @"(!@#$%^&*()_+|~- =\`{}[]:;'<>?,./)";
}
